<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/dark-theme.css">
</head>
<body>
    <div class="container">
        <form class="form" action="/registro" method="POST">
          <h1>Registro</h1>
          <label for="username">Nome de Usuário:</label>
          <input type="text" id="username" name="username" required>
          <label for="password">Senha:</label>
          <input type="password" id="password" name="password" required>
          <button type="submit">Registrar</button>
          <p>Já tem uma conta? <a href="/login">Faça login</a></p>
        </form>
      </div>
</body>
</html>
